.index {
  position: relative;
}

.header {
  display: flex;
  width: (696/7.5vw);
  height: (64/7.5vw);
  left: (34/7.5vw);
  top: (94/7.5vw);
  opacity: 1;
  text-align: center;
}

.header h3 {
  left: (271/7.5vw);
  top: (10/7.5vw);
  width: 19.54%;
  height: (49/7.5) vw;
  opacity: 1;

  font-family: PingFangSC;
  font-size: (34/7.5vw);
  font-weight: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: (0/7.5vw);

  color: #101010;
}

body img {
  left: 0/3vw;
  top: (164/7.5vw);
  width: (750/7.5vw);
  height: 26.6%;
  opacity: 1;
}

.text1 {
  left: 40px;
  top: 628px;
  width: 500px;
  height: 98px;
  opacity: 1;

  font-family: PingFangSC;
  font-size: 34px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0px;

  font-variation-settings: ;
  color: #000000;
}
