.header {
  display: flex;
  height: 0.85333333rem;
  background-color: #fff;
  padding-left: 0.45333333rem;
  padding-right: 0.26666667rem;
}
.header img {
  width: 0.21333333rem;
  height: 0.42666667rem;
  margin-top: 0.21333333rem;
  margin-bottom: 0.21333333rem;
}
.header span {
  width: 1.81333333rem;
  height: 0.65333333rem;
  font-size: 0.45333333rem;
  margin: auto auto;
  font-weight: 400;
}
.productimg {
  overflow: auto;
  display: flex;
  height: 5.76rem;
}
.productIntroduction {
  display: flex;
  margin-right: 0.25333333rem;
  margin-left: 0.53333333rem;
  margin-top: 0.42666667rem;
}
.product .left {
  font-size: 0.45333333rem;
  width: 6.66666667rem;
  height: 1.30666667rem;
  margin-right: 0.42666667rem;
}
.product .right {
  display: flex;
  width: 2.12rem;
  height: 0.65333333rem;
}
.product .right img {
  width: 0.42666667rem;
  height: 0.42666667rem;
  margin: 0.11333333rem 0;
}
.product .right p {
  font-size: 0.45333333rem;
  margin: auto;
}
.useRule {
  font-size: 0.37333333rem;
  margin-left: 0.53333333rem;
  margin-top: 0.4rem;
}
.ruleContent {
  font-size: 0.37333333rem;
  color: #999999;
  margin-left: 0.53333333rem;
  margin-top: 0.09333333rem;
}
.details_title {
  font-size: 0.37333333rem;
  margin-left: 0.53333333rem;
  margin-top: 0.4rem;
}
.details_content {
  font-size: 0.37333333rem;
  color: #999999;
  margin-left: 0.53333333rem;
  margin-right: 0.53333333rem;
  margin-top: 0.09333333rem;
}
.productIconImg img {
  flex: 1;
  margin-bottom: 2rem;
  padding: auto auto;
}
.productIconImg {
  display: flex;
  width: 100%;
  height: 21.6rem;
  margin-top: 0.09333333rem;
  padding: 0.53333333rem;
}
.btn {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 10rem;
  height: 1.6rem;
  background-color: #fff;
}
.btn .exchange-btn {
  background-color: #fd661d;
  width: 9.14666667rem;
  height: 1.28rem;
  border: none;
  border-radius: 56px;
  margin: auto auto;
  font-size: 0.42666667rem;
  line-height: 0.64rem;
  color: #fff;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.modal .modal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0.53333333rem;
  border-radius: 0.32rem;
  width: 8.72rem;
  text-align: center;
  z-index: 9999;
}
.modal .modal-content p {
  margin-top: 0.90666667rem;
  font-size: 0.4rem;
  color: #999999;
}
.modal .modal-content .modal-btns {
  display: flex;
  font-size: 0.42666667rem;
  gap: 10px;
  margin-top: 0.64rem;
}
.modal .modal-content .modal-btns .modal-btn {
  flex: 1;
  font-size: 0.42666667rem;
  margin-right: 0.50666667rem;
  padding: 0.34666667rem 0.74666667rem;
  border: none;
  border-radius: 0.74666667rem;
  background: #f5f5f5;
  cursor: pointer;
  color: #fd661d;
}
.modal .modal-content .modal-btns .modal-btn:nth-child(2) {
  background: #fd661d;
  color: #fff;
  border-radius: 0.74666667rem;
}
.modal.show {
  display: block;
}
